nav {
    transition: all .5s ease;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-size: 30px;
    background-color: #2C3A47 !important;
    align-items: center;
    width: 100%;
    z-index: 999;
    position: absolute;
}

.logo{
    button {
        color: #58B19F;
        font-size: 1.5rem;
        font-style: italic;
        font-family: 'Inter';
    }
    padding-left: 3rem;
}

nav:active {
    background-color: #2C3A47 !important;
}

nav div {
    margin: 1rem;
}

.menu-link {
    cursor: pointer;
}

.menu-link button {
    margin: 0px 3rem;
}


.togger {
    display: none;
    background-color: transparent !important;
    border: none;
    outline: none !important;

}

.container-icon {}

.icon {
    width: 30px;
    height: 30px;
}

.btn-menu {
    cursor: pointer;
    display: none;

    img {
        max-width: 3rem;
        max-height: 3rem;
    }

    margin-left: auto;
    margin-right: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    height: 5rem;
}

.navbar-transparent {
    transition: all .5s ease;
    background-color: rgba(0, 0, 0, .3) !important;
}

.navbar-transparent:active {
    background-color: rgba(0, 0, 0, .3) !important;
}


@media (max-width: 950px) {
    .menu-link button {
        margin: 0px 1rem;
    }
}

@media (max-width: 767px) {
    nav div {
        transition: all ease .3s;
        display: none;
        color: transparent;

        &.active {
            width: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
        }
    }

    nav button {
        text-align: center;
        display: block;

    }

    nav {
        text-align: center;
        height: 5rem;
        transition: all ease .3s;
        position: relative;

        &.active {
            text-align: center;
            height: 15rem;
        }
    }

    .btn-menu {
        position: absolute;
        display: block;
        right: 0;

        &.active {
            display: none;
        }
    }
}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}