.example-form {
    width: 100%;
}

.example-full-width {
    margin-top: 2rem;
    width: 100%;
}

.container-form {
    width: 25%;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    color: #B33771;
}