<!-- <div class="container-title">
    <h1>Premios por conexión</h1>
</div>
<div class="container-prize">
    <mat-card *ngFor="let p of prizesUser" matTooltip="{{ p.prizes | prizes }}" matTooltipClass="tooltip-dark">
        <div [ngClass]="{ 'is-not-reclamed': !p.isReclamed }">
            <div class="container-title-prize">
                <h2>Día {{p.day}}</h2>
            </div>
            <img src="assets/imgs/giftbox.gif" alt="">
        </div>
    </mat-card>
</div>
<div class="container-footer">
    <h1>Conectate una vez al día y recibe tu premio</h1>
</div> -->