:host{
    align-self: center;
    justify-self: center;
    display: block;
    min-height: 100vh;
    background-color: #CAD3C8 !important;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 10rem;
}

.example-form {
    width: 100%;
}

.example-full-width {
    margin-top: 2rem;
    width: 100%;
}

.container-form {
    width: 25%;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    color: #B33771;
}

@media (max-width: 1024px) {
    .container-form {
        padding: 2em;
        width: 50%;
    }
}


@media (max-width: 767px) {
    .conta.container-forminer-form {
        width: 100%;
        padding: 1em;
    }

    .container-form {
        padding: 2em;
        width: 80%;
    }
}