
<div class="content animate__animated animate__fadeIn">
    <!-- <h1>En construcción...</h1>
        <img src="assets/imgs/poring.gif" alt=""> -->
    <div class="container-form">
        <h1>Autenticación</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ej. usuario@mail.com">
                <mat-error *ngIf="submitted && f['email'].errors && f['email'].errors['email']">
                    Por favor, ingrese una dirección de correo válida
                </mat-error>
                <mat-error *ngIf=" submitted && f['email'].errors && f['email'].errors['required']">
                    Email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="submitted && f['password'].errors && f['password'].errors['required']">
                    Contraseña es <strong>requerida</strong>
                </mat-error>
                <mat-error *ngIf="submitted && f['password'].errors && f['password'].errors['minlength']">
                    Contraseña debe tener <strong>mínimo 6 caracteres</strong>
                </mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button [disabled]="btnLoad" class="btn btn-full btn-primary mt-2">
                Autenticar usuario
            </button>
            <!-- <button type="button" mat-raised-button class="btn btn-full btn-success mt-2" (click)="openDialogRecovery()">Recuperar contraseña</button> -->
        </form>
    </div>
</div>