<h1 mat-dialog-title>Recuperar contraseña</h1>
<div mat-dialog-content>
    <form [formGroup]="recoveryPassForm" (ngSubmit)="onSubmit(recoveryPassForm.value)" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
            <mat-error *ngIf="submitted && f['email'].errors && f['email'].errors['required']">
                Email es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="submitted && f['email'].errors && f['email'].errors['email']">
                Por favor, ingrese una dirección de correo válida
            </mat-error>
        </mat-form-field>
   
        <button type="submit" [disabled]="btnLoad" mat-raised-button class="btn btn-full btn-primary mt-2">
            Recuperar contraseña
        </button>
    </form>
</div>