header {
    width: 100%;
    height: 15rem;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-icons {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;

    button {
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: none;
        min-width: 4rem;
    }

    img {
        max-width: 3rem;
        max-height: 3rem;
    }
}

.container-logo {
    width: 50%;
    text-align: center;
    align-items: center;

    img {
        max-width: 20rem;
    }
}

@media (max-width: 1000px) {
    .container-header {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .container-icons {
        width: 100%;
        padding: 1em 0%;
    }

    .container-logo {
        width: 100%;
        text-align: center;
    }

    header {
        height: 20rem;
    }
}

@media (max-width: 767px) {}