<header>
    <div class="card container-header ">
        <div class="container-icons">
            <button (click)="goToFb()">
                <img src="assets/icons/logo-facebook.svg" alt="">
            </button>
            <button (click)="goToDiscord()">
                <img src="assets/icons/logo-discord.svg" alt="">
            </button>
            <button (click)="goToInstagram()">
                <img src="assets/icons/logo-instagram.svg" alt="">
            </button>
        </div>
        <div class="container-logo">
            <img src="assets/imgs/title.png" alt="">
        </div>
    </div>
</header>