<div [ngStyle]="{'background-image': 'url(' + backgroundImg + ')'}" class="body">
  <app-navbar [menu]="menu" [user]="user"></app-navbar>
  <div class="card">
    <div class="container-header">
      <div class="text">
        <label for="">Servidor:</label>
        <label for="">{{stateServer}}</label>
      </div>
      <div class="text">
        <label for="">Usuarios en línea:</label>
        <label for="">{{usersOn}}</label>
      </div>
      <!-- <div class="text">
        <label for="">Usuarios registrados:</label>
        <label for="">{{totalUsers}}</label>
      </div> -->
      <!-- <div class="text">
        <label for="">Cuentas registradas:</label>
        <label for="">{{totalAccounts}}</label>
      </div> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>