<h1 mat-dialog-title>Registrar cuenta</h1>
<div mat-dialog-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input type="text" matInput formControlName="user">
            <mat-error *ngIf="submitted && f['user'].errors && f['user'].errors['required']">
                Usuario es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="submitted && f['user'].errors && f['user'].errors['minlength']">
                Usuario debe tener <strong>mínimo 6 caracteres</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="submitted && f['password'].errors && f['password'].errors['required']">
                Contraseña es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="submitted && f['password'].errors && f['password'].errors['minlength']">
                Contraseña debe tener <strong>mínimo 6 caracteres</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Confirmar contraseña</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            <mat-error *ngIf="submitted && f['confirmPassword'].errors && f['confirmPassword'].errors['mustMatch']">
                Contraseña <strong>no coincide</strong>
            </mat-error>
            <mat-error *ngIf="submitted && f['confirmPassword'].errors && f['confirmPassword'].errors['required']">
                Confirmar contraseña es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="submitted && f['confirmPassword'].errors && f['confirmPassword'].errors['minlength']">
                Confirmar contraseña debe tener <strong>mínimo 6 caracteres</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Género</mat-label>
            <mat-select formControlName="genre">
                <mat-option *ngFor="let g of genres" [value]="g.value">
                    {{g.text}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f['genre'].errors && f['genre'].errors['required']">
                Género es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" [disabled]="btnLoad" mat-raised-button class="btn btn-full btn-success mt-2">Registrar
            cuenta</button>
    </form>
</div>