<app-header></app-header>
<div class="container content animate__animated animate__fadeInUp pb-4">
    <div class="card">
        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" [(ngModel)]="menu">
            <mat-button-toggle *ngFor="let m of menus" [value]="m.value">{{m.text}}</mat-button-toggle>
        </mat-button-toggle-group>
        
        <div [ngSwitch]="menu">
            <div *ngSwitchCase="0">
                <app-my-accounts></app-my-accounts>
            </div>
            <div *ngSwitchCase="1">
                <app-prizes></app-prizes>
            </div>
            <div *ngSwitchCase="2">
                <app-rank></app-rank>
            </div>
        </div>

        
    </div>
</div>