<app-header></app-header>
<div class="container content animate__animated animate__fadeInUp">
    <div class="card">
        <div class="container-button">
            <button type="button" mat-raised-button class="btn btn-primary btn-register" (click)="openDialogRegister()">
                Registrar cuenta
            </button>
        </div>

        <div *ngIf="loading" class="center">
            <mat-spinner></mat-spinner>
        </div>

        <div class="alert-warning mt-3" *ngIf="accounts.length == 0 && !loading">
            <strong>No tiene cuentas registradas</strong>
        </div>

        <div *ngIf="accounts.length > 0">
            <table>
                <tbody>
                    <tr *ngFor="let a of accounts">
                        <th>
                            <img src="assets/imgs/poporing.gif" alt="">
                        </th>
                        <th>
                            <h3>Género</h3>
                            {{a.idAccount.genre}}
                        </th>
                        <th>
                            <h3>{{a.idAccount.user}}</h3>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>