
mat-button-toggle-group {
    background-color: transparent !important;
}
mat-button-toggle{
    background-color: transparent !important;
    color: white;
}

.mat-button-toggle-standalone:not([class*=mat-elevation-z]), .mat-button-toggle-group:not([class*=mat-elevation-z]){
    box-shadow: none;
}

// @media (max-width: 1024px) {
//     .container-form {
//         padding: 2em;
//         width: 50%;
//     }
// }


// @media (max-width: 767px) {
//     .conta.container-forminer-form {
//         width: 100%;
//         padding: 1em;
//     }

//     .container-form {
//         padding: 2em;
//         width: 80%;
//     }
// }