<app-header></app-header>

<div class="container pb-3">
    <div class="card info animate__animated animate__fadeInUp">
        <p>Pandemic Ro es un servidor de Ragnarok Online creado a mediados del año 2022 con el fin
            de entretención en comunidad y reunir a los viejos cracks de guilds y antiguos servidores.
        </p>
        <p class="mt-2">
            Puesto en producción en su primera versión el día 20-08-2022, estando on 24/7 a la fecha.
        </p>
        <p class="mt-2">
            Esperemos disfrutes tu estadía
        </p>
    </div>

    <div class="grid-info mt-3 animate__animated animate__fadeInUp">
        <div class="card info-server">
            <h1>Información del servidor</h1>

            <table>
                <tbody>
                    <tr>
                        <td style="width: 15rem;">Modalidad:</td>
                        <td>Pre-renewal</td>
                    </tr>
                    <tr>
                        <td>Rates:</td>
                        <td>100x100x100x</td>
                    </tr>
                    <tr>
                        <td>Cards Normales:</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>Cards MVP - Boss:</td>
                        <td>0.05%</td>
                    </tr>
                    <tr>
                        <td>NPC’s:</td>
                        <td>Warp Agent, Healer, Reset, Job Master, Stylist</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card woe-info">
            <div class="container-woe">
                <div class="woe-info-detail">
                    <label for="" class="woe-title mt-2">WOE 1.0</label>
                    <label for="" class="woe-date">Martes 22:00</label>
                    <label for="" class="woe-date">Viernes 22:00</label>
                    <label for="" class="woe-title mt-3">WOE 2.0</label>
                    <label for="" class="woe-date">Sábado 21:00</label>
                    <label for="" class="woe-title mt-3">Ancient WOE</label>
                    <label for="" class="woe-date">Jueves 22:00</label>
                    <label for="" class="woe-date">Domingo 20:00</label>
                </div>
                <img src="assets/imgs/woe.png" alt="">
            </div>
            <a class="link-ranking mt-3" href="https://ragnatop.org/index.php?a=in&u=schavez-dev"><img
                    src="https://ragnatop.org/button.php?u=schavez-dev&buttontype=static"
                    alt="RagnaTOP - Top Ragnarok Online en Español" /></a>
            <a class="link-ranking" href="http://www.toprohispano.com/vote/index.php?id=1020" target="_blank">
                <img src="http://www.toprohispano.com/images/boton4.png" border="0"></a>
            <a class="link-ranking" href='https://www.top100arena.com/category/ro?vote=99473' title='Pandemic Ro'>
                <img src='https://www.top100arena.com/hit/99473/small' alt='Ragnarok private server'></a>
        </div>
    </div>
</div>