.info {
    padding: 4rem;
    display: flex;
    flex-direction: column;

    p {
        color: white;
        font-size: 1rem;
    }
}

.grid-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.info-server {
    padding: 2rem;
}

.woe-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0px;

    img {
        max-width: 80%;
    }
}

h1 {
    font-size: 2rem;
    color: white;
}

tbody {
    width: 100%;
    color: white;
    font-size: 1.2rem;

    tr {
        height: 5rem !important;
    }
}

.link-ranking {
    width: 10rem;

    img {
        width: 10rem;
    }
}

@media (max-width: 1000px) {
    .info {
        padding: 1rem;
    }

    .info-server {
        padding: 1rem
    }

    .grid-info {
        grid-template-columns: repeat(1, 1fr);
    }
}