<app-header></app-header>

<div class="container pb-3">
    <div class="card info animate__animated animate__fadeInUp p-5">
        <p>Pandemic Ro es un proyecto de desarrollo sin fines de lucro enfocado en la mejora continua en diversos
            proyectos informáticos. Se busca aplicar las mejores prácticas del mundo de la informática al de Ragnarok
            Online, dando así una alta disponibilidad de los servicios ofrecidos ademas de una experiencia única para
            los usuarios.
        </p>
        <p class="mt-2">
            Desarrollado 100% con tecnologías actuales y a la medida.
        </p>
        <p class="mt-2">
            Si buscar un servidor en donde no existan mantenimientos engorrosos, en donde no necesitarás PAGAR por equip, en donde
            tu tiempo invertido en el servidor no se perderá.
        </p>
        <p class="mt-2">
            Lo que nos diferencia es que contamos con un servidor hecho a la medida en donde tenemos nuestra propia seguridad,
            servicios y aplicaciones que conviven con el juego.
        </p>
        <p class="mt-2">
            Puesto en producción en su primera versión el día 20-08-2022, estando on 24/7 a la fecha.
        </p>
    </div>

    <div class="grid-info mt-3 animate__animated animate__fadeInUp">
        <div class="card info-server">
            <h1>Información del servidor</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <td style="width: 15rem;">Modalidad:</td>
                        <td>Pre-renewal</td>
                    </tr>
                    <tr>
                        <td>Rates:</td>
                        <td>100x100x100x</td>
                    </tr>
                    <tr>
                        <td>Cards Normales:</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>Cards MVP - Boss:</td>
                        <td>0.05%</td>
                    </tr>
                    <tr>
                        <td>NPC’s:</td>
                        <td>Warp Agent, Healer, Reset, Job Master, Stylist, Costumes Shop</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card woe-info">
            <div class="container-woe">
                <div class="woe-info-detail">
                    <label for="" class="woe-title mt-2">WOE 1.0</label>
                    <label for="" class="woe-date">Martes 22:00</label>
                    <label for="" class="woe-date">Viernes 22:00</label>
                    <label for="" class="woe-title mt-3">WOE 2.0</label>
                    <label for="" class="woe-date">Sábado 21:00</label>
                    <label for="" class="woe-title mt-3">Ancient WOE</label>
                    <label for="" class="woe-date">Jueves 22:00</label>
                    <label for="" class="woe-date">Domingo 20:00</label>
                </div>
                <img src="assets/imgs/woe.png" alt="">
            </div>
            <div *ngIf="loading.rank1" class="loading mt-3">
                Cargando...
            </div>
            <a *ngIf="!loading.rank1" class="link-ranking mt-3 pointer" (click)="confirmVote(1, 'https://ragnatop.org/index.php?a=in&u=schavez-dev')"><img
                    src="https://ragnatop.org/button.php?u=schavez-dev&buttontype=static"
                    alt="RagnaTOP - Top Ragnarok Online en Español" /></a>
            <div *ngIf="loading.rank2" class="loading ">
                Cargando...
            </div>
            <a *ngIf="!loading.rank2" class="link-ranking pointer" (click)="confirmVote(2, 'http://www.toprohispano.com/vote/index.php?id=1020')" target="_blank">
                <img src="http://www.toprohispano.com/images/boton4.png" border="0"></a>
            <div *ngIf="loading.rank3" class="loading ">
                Cargando...
            </div>
            <a *ngIf="!loading.rank3" class="link-ranking pointer" (click)="confirmVote(3, 'https://www.top100arena.com/category/ro?vote=99473')" title='Pandemic Ro'>
                <img src='https://www.top100arena.com/hit/99473/small' alt='Ragnarok private server'></a>
        </div>
    </div>
</div>