
<div class="container">
    <div class="container-download animate__animated animate__fadeInUp">
        <h1>Descargas</h1>
        <div class="container-btn">
            <button class="btn-download" (click)="goToClientDownload()">
                PandemicRo v{{version}} Cliente (61mb)
                <img src="assets/icons/download-outline.svg" alt="">
            </button>
            <div class="ro-download">
                <button class="btn-download" (click)="goToRoClientDownload(1)" matTooltip="Google Drive">
                    PandemicRo v{{version}} Cliente + RO (3.85gb)
                    <img src="assets/icons/drive.png" alt="">
                </button>
                <button class="btn-download" (click)="goToRoClientDownload(2)" matTooltip="Mega">
                    PandemicRo v{{version}} Cliente + RO (3.85gb)
                    <img src="assets/icons/mega.png" alt="">
                </button>
                <button class="btn-download" (click)="goToRoClientDownload(3)" matTooltip="Mediafire">
                    PandemicRo v{{version}} Cliente + RO (3.85gb)
                    <img src="assets/icons/media-fire.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>