/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

.pointer{
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-card {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}
.p-5 {padding: 5rem;}

.btn {
    height: 4rem;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-full {
    width: 100%;
}

.btn-primary {
    color: white;
    background-color: #82589F !important;

    button.mat-menu-item {
        color: white !important;

    }
}

.btn-success {
    background-color: #58B19F !important;
    color: white;

    button.mat-menu-item {
        color: white !important;

    }
}

.btn-dark {
    background-color: #2C3A47 !important;
    color: white !important;

    button.mat-menu-item {
        color: white !important;

    }
}

.alert-success {}

.alert-warning {
    width: 100%;
    background-color: #F8EFBA;
    border-radius: 4px;
    padding: 1rem 0px;
    color: #2C3A47;
    display: flex;
    justify-content: center;
}

// animaciones

.fadeIn {
    opacity: 0;
    transition: all .5s ease;
    &.active {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 1rem;
    }

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
