<div class="container content animate__animated animate__fadeInUp">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-4 p-4">
                <div class="container-profile">
                    <img src="assets/imgs/no-profile.jpg" alt="">

                    <div class="detail-profile">
                        <h3>{{profile.name}}</h3>
                        <hr>
                        <h3>{{profile.totalVotes}} Votos totales</h3>
                        <hr>
                        <h3>{{profile.reclamedVotes}} Votos cobrados</h3>
                        <hr>
                        <h3>Día {{profile.connectionDay}} del mes</h3>
                        <hr>
                        <h3>{{profile.email}}</h3>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ps-4 pt-3 mb-4 mt-4">
                    <h1>Mi Perfil</h1>
                    <h1>Premios por conexión</h1>
                </div>
                <div class="container-prize">
                    <div class="prize" *ngFor="let p of prizesUser" matTooltip="{{ p.prizes | prizes }}" matTooltipClass="tooltip-dark">
                        <div [ngClass]="{ 'is-not-reclamed': !p.isReclamed }">
                            <div class="container-title-prize">
                                <h2>Día {{p.day}}</h2>
                            </div>
                            <img src="assets/imgs/giftbox.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center mt-5 pb-4">
                <label class="text-footer">Conectate una vez al día y recibe tu premio</label>
            </div>
        </div>
    </div>
</div>